resources/wsdls/foo_v2.wsdl

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

	<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	                  xmlns:ns0="http://foo.sample/bar"
	                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	                  targetNamespace="http://foo.sample/bar">
	  <wsdl:types>
	    <xs:schema xmlns:ns="http://foo.sample/bar" attributeFormDefault="qualified"
	               elementFormDefault="unqualified" targetNamespace="http://foo.sample/bar">
	      <!-- unordered type -->
        <xs:complexType name="FullName">
          <xs:all>
              <xs:element minOccurs="0" name="first" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="last" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="middle" nillable="true" type="xs:string"/>
          </xs:all>
        </xs:complexType>
        <xs:simpleType name="FourChars"><xs:restriction base="xs:string"><xs:length fixed="true" value="4"/></xs:restriction></xs:simpleType>
        <!-- unordered type -->
        <xs:complexType name="ID">
	        <xs:choice>
            <xs:element minOccurs="0" name="userid" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string"/>
          </xs:choice>
        </xs:complexType>
	      <xs:element name="getFooResponse">
	        <xs:complexType>
	          <xs:sequence>
		          <xs:element minOccurs="0" name="fullname" nillable="true" type="ns:FullName"/>
		          <xs:element minOccurs="0" name="id" nillable="true" type="ns:ID"/>
			        <xs:element minOccurs="0" name="last4digits" nillable="true" type="ns:FourChars"/>
	            <xs:element minOccurs="0" name="retval_one" nillable="true" type="xs:string"/>
	            <xs:element minOccurs="0" name="retval_two" nillable="true" type="xs:string"/>
		          <xs:element minOccurs="0" name="extra" nillable="true" type="xs:string"/>
	          </xs:sequence>
	        </xs:complexType>
	      </xs:element>
				<xs:element name="getFooRequest">
	        <xs:complexType>
	          <xs:sequence>
	            <xs:element minOccurs="1" name="aparam" type="xs:string"/>
	          </xs:sequence>
	        </xs:complexType>
	      </xs:element>
	    </xs:schema>
	  </wsdl:types>
	  <wsdl:message name="getFooRequest">
		  <wsdl:part element="ns0:getFooRequest" name="getFooRequest">
	    </wsdl:part>
		</wsdl:message>
	  <wsdl:message name="getFooResponse">
	    <wsdl:part element="ns0:getFooResponse" name="getFooResponse">
	    </wsdl:part>
	  </wsdl:message>
	  <wsdl:portType name="FooPortType">
	    <wsdl:operation name="getFoo">
	      <wsdl:input message="ns0:getFooRequest" wsaw:Action="urn:getFoo"/>
	      <wsdl:output message="ns0:getFooResponse" wsaw:Action="urn:getFooResponse"/>
	    </wsdl:operation>

	  </wsdl:portType>
	  <wsdl:binding name="FooSOAP11Binding" type="ns0:FooPortType">
	    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
	    <wsdl:operation name="getFoo">
	      <soap:operation soapAction="urn:getFoo" style="document"/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	    </wsdl:operation>

	  </wsdl:binding>
	  <wsdl:service name="Foo">
	    <wsdl:port name="FooSOAP11port_http" binding="ns0:FooSOAP11Binding">
	      <soap:address location="http://127.0.0.1:8000/axis2/services/Foo"/>
	    </wsdl:port>
	  </wsdl:service>
	</wsdl:definitions>