resources/wsdls/paymentService_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://omc.dowjones.com/schema/billing/servicecontracts/paymentService/v2_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://omc.dowjones.com/schema/billing/servicecontracts/paymentService/v2_0" xmlns:sch1="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:sch10="http://omc.dowjones.com/schema/common/types/salutation/v1_0" xmlns:sch11="http://omc.dowjones.com/schema/common/types/contact/v1_0" xmlns:sch12="http://omc.dowjones.com/schema/billing/entities/account/v2_0" xmlns:sch13="http://omc.dowjones.com/schema/billing/entities/receipt/v2_0" xmlns:sch14="http://omc.dowjones.com/schema/billing/entities/chargeback/v1_0" xmlns:sch2="http://omc.dowjones.com/schema/billing/entities/paymentEntities/v1_0" xmlns:sch3="http://omc.dowjones.com/schema/billing/entities/paymentSchedule/v1_0" xmlns:sch4="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0" xmlns:sch5="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0" xmlns:sch6="http://omc.dowjones.com/schema/billing/types/billMe/v1_0" xmlns:sch7="http://omc.dowjones.com/schema/common/types/address/v1_0" xmlns:sch8="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0" xmlns:sch9="http://omc.dowjones.com/schema/billing/entities/receivable/v2_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://omc.dowjones.com/schema/billing/servicecontracts/paymentService/v2_0">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/servicecontracts/paymentService/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acct="http://omc.dowjones.com/schema/billing/entities/account/v2_0" xmlns:ar="http://omc.dowjones.com/schema/billing/entities/receivable/v2_0" xmlns:cb="http://omc.dowjones.com/schema/billing/entities/chargeback/v1_0" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:pe="http://omc.dowjones.com/schema/billing/entities/paymentEntities/v1_0" xmlns:ps="http://omc.dowjones.com/schema/billing/entities/paymentSchedule/v1_0" xmlns:recpt="http://omc.dowjones.com/schema/billing/entities/receipt/v2_0">
      <xsd:annotation>
        <xsd:documentation>PaymentService -The payment scheduler operations provide the
			facility to split up payment of an item into a series of
			scheduled installments. For example, an annual subscription
			costing $120 could be paid in monthly installments over the
			course of a year. The service will calculate the dates on
			which to collect the installments and schedule the payments
			in the underlying revenue management platform. In addition
			to creating a set of scheduled payments, the service also
			provides the facility to retrieve the details of said
			schedules as well as cancel them.</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/paymentEntities/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/paymentSchedule/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/receivable/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/account/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/receipt/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/chargeback/v1_0"/>
      <xsd:element name="CreatePaymentScheduleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="requestID" type="xsd:string"/>
            <xsd:element name="billID" type="xsd:string"/>
            <xsd:element name="initalInstallmentDate" type="xsd:dateTime"/>
            <xsd:element name="frequencyType" type="ps:PaymentFrequency"/>
            <xsd:element name="frequencyUnits" type="xsd:positiveInteger"/>
            <xsd:element minOccurs="0" name="numberInstallments" type="xsd:positiveInteger"/>
            <xsd:element minOccurs="0" name="amountPerInstallment" type="curr:CurrencyAmount"/>
            <xsd:element minOccurs="0" name="totalAmount" type="curr:CurrencyAmount"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreatePaymentScheduleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="schedule" type="ps:PaymentSchedule"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPaymentSchedulesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="onlyOpenSchedules" type="xsd:boolean"/>
            <xsd:element name="onlyPendingInstallments" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPaymentSchedulesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="scheduleList" type="ps:PaymentSchedule"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelPaymentScheduleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="scheduleIDList" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelPaymentScheduleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="scheduleList" type="ps:PaymentSchedule"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CollectPaymentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="billID" type="xsd:string"/>
            <xsd:element name="paymentInstrumentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CollectPaymentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="paymentEventID" type="xsd:string"/>
            <xsd:element name="paymentItemID" type="xsd:string"/>
            <xsd:element name="paymentItemNumber" type="xsd:string"/>
            <xsd:element name="paymentItemName" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="transferEvents" type="pe:ItemTransferEvent"/>
            <xsd:element name="paymentAmount" type="curr:CurrencyAmount"/>
            <xsd:element name="currentAccountBalance" type="acct:AccountBalanceSummary"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReprocessRefundRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="refundItemID" type="xsd:string"/>
            <xsd:element name="paymentInstrumentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReprocessRefundResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="refundEventID" type="xsd:string"/>
            <xsd:element name="refundItemID" type="xsd:string"/>
            <xsd:element name="refundItemNumber" type="xsd:string"/>
            <xsd:element name="refundAmount" type="curr:CurrencyAmount"/>
            <xsd:element name="currentAccountBalance" type="acct:AccountBalanceSummary"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateCreditRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="billUnitID" type="xsd:string"/>
            <xsd:element name="creditAmount" type="curr:CurrencyAmount"/>
            <xsd:element name="reason" type="xsd:string"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateCreditResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="creditEventID" type="xsd:string"/>
            <xsd:element name="creditAmount" type="curr:CurrencyAmount"/>
            <xsd:element name="accountBalance" type="acct:AccountBalanceSummary"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IssueRefundRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="reason" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IssueRefundResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="refundItemID" type="xsd:string"/>
            <xsd:element name="refundItemNumber" type="xsd:string"/>
            <xsd:element name="refundAmount" type="curr:CurrencyAmount"/>
            <xsd:element maxOccurs="unbounded" name="transferEvents" type="pe:ItemTransferEvent"/>
            <xsd:element name="currentAccountBalance" type="acct:AccountBalanceSummary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ListReceivableHistoryRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="itemStatus" type="ar:ReceivableItemStatusType"/>
            <xsd:element maxOccurs="unbounded" name="itemTypes" type="ar:ReceivableItemType"/>
            <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="subscriptionID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="termID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="referenceNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ListReceivableHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="arItems" type="ar:ReceivableItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateReceiptRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="paymentEventID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateReceiptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="receipt" type="recpt:Receipt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessFullChargebacksRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestingUserUUID" type="xsd:string"/>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="payments" type="cb:ChargebackRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessFullChargebacksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountID" type="xsd:string"/>
            <xsd:element name="totalChargebackAmount" type="curr:CurrencyAmount"/>
            <xsd:element maxOccurs="unbounded" name="chargebacks" type="cb:ChargebackItem"/>
            <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/common/types/currency/v1_0">
      <xsd:annotation>
        <xsd:documentation>Common Mosaic Currency Type</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="CurrencyType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ADP"/>
          <xsd:enumeration value="AED"/>
          <xsd:enumeration value="AFA"/>
          <xsd:enumeration value="ALL"/>
          <xsd:enumeration value="AMD"/>
          <xsd:enumeration value="ANG"/>
          <xsd:enumeration value="AON"/>
          <xsd:enumeration value="ARS"/>
          <xsd:enumeration value="ATS"/>
          <xsd:enumeration value="AUD"/>
          <xsd:enumeration value="AWG"/>
          <xsd:enumeration value="AZM"/>
          <xsd:enumeration value="BBD"/>
          <xsd:enumeration value="BDT"/>
          <xsd:enumeration value="BEF"/>
          <xsd:enumeration value="BGL"/>
          <xsd:enumeration value="BHD"/>
          <xsd:enumeration value="BIF"/>
          <xsd:enumeration value="BMD"/>
          <xsd:enumeration value="BND"/>
          <xsd:enumeration value="BOB"/>
          <xsd:enumeration value="BRL"/>
          <xsd:enumeration value="BSD"/>
          <xsd:enumeration value="BTN"/>
          <xsd:enumeration value="BWP"/>
          <xsd:enumeration value="BYB"/>
          <xsd:enumeration value="BZD"/>
          <xsd:enumeration value="CAD"/>
          <xsd:enumeration value="CHF"/>
          <xsd:enumeration value="CLP"/>
          <xsd:enumeration value="CNY"/>
          <xsd:enumeration value="COP"/>
          <xsd:enumeration value="CRC"/>
          <xsd:enumeration value="CUP"/>
          <xsd:enumeration value="CVE"/>
          <xsd:enumeration value="CYP"/>
          <xsd:enumeration value="CZK"/>
          <xsd:enumeration value="DEM"/>
          <xsd:enumeration value="DJF"/>
          <xsd:enumeration value="DKK"/>
          <xsd:enumeration value="DOP"/>
          <xsd:enumeration value="DZD"/>
          <xsd:enumeration value="ECS"/>
          <xsd:enumeration value="EEK"/>
          <xsd:enumeration value="EGP"/>
          <xsd:enumeration value="EUR"/>
          <xsd:enumeration value="ESP"/>
          <xsd:enumeration value="ETB"/>
          <xsd:enumeration value="FIM"/>
          <xsd:enumeration value="FJD"/>
          <xsd:enumeration value="FKP"/>
          <xsd:enumeration value="FRF"/>
          <xsd:enumeration value="GBP"/>
          <xsd:enumeration value="GHC"/>
          <xsd:enumeration value="GIP"/>
          <xsd:enumeration value="GMD"/>
          <xsd:enumeration value="GNF"/>
          <xsd:enumeration value="GRD"/>
          <xsd:enumeration value="GTQ"/>
          <xsd:enumeration value="GWP"/>
          <xsd:enumeration value="GYD"/>
          <xsd:enumeration value="HKD"/>
          <xsd:enumeration value="HNL"/>
          <xsd:enumeration value="HRK"/>
          <xsd:enumeration value="HTG"/>
          <xsd:enumeration value="HUF"/>
          <xsd:enumeration value="IDR"/>
          <xsd:enumeration value="IEP"/>
          <xsd:enumeration value="ILS"/>
          <xsd:enumeration value="INR"/>
          <xsd:enumeration value="IQD"/>
          <xsd:enumeration value="IRR"/>
          <xsd:enumeration value="ISK"/>
          <xsd:enumeration value="ITL"/>
          <xsd:enumeration value="JMD"/>
          <xsd:enumeration value="JOD"/>
          <xsd:enumeration value="JPY"/>
          <xsd:enumeration value="KES"/>
          <xsd:enumeration value="KGS"/>
          <xsd:enumeration value="KHR"/>
          <xsd:enumeration value="KMF"/>
          <xsd:enumeration value="KPW"/>
          <xsd:enumeration value="KRW"/>
          <xsd:enumeration value="KWD"/>
          <xsd:enumeration value="KYD"/>
          <xsd:enumeration value="KZT"/>
          <xsd:enumeration value="LAK"/>
          <xsd:enumeration value="LBP"/>
          <xsd:enumeration value="LKR"/>
          <xsd:enumeration value="LRD"/>
          <xsd:enumeration value="LSL"/>
          <xsd:enumeration value="LTL"/>
          <xsd:enumeration value="LUF"/>
          <xsd:enumeration value="LVL"/>
          <xsd:enumeration value="LYD"/>
          <xsd:enumeration value="MAD"/>
          <xsd:enumeration value="MDL"/>
          <xsd:enumeration value="MGF"/>
          <xsd:enumeration value="MKD"/>
          <xsd:enumeration value="MMK"/>
          <xsd:enumeration value="MNT"/>
          <xsd:enumeration value="MOP"/>
          <xsd:enumeration value="MRO"/>
          <xsd:enumeration value="MTL"/>
          <xsd:enumeration value="MUR"/>
          <xsd:enumeration value="MVR"/>
          <xsd:enumeration value="MWK"/>
          <xsd:enumeration value="MXP"/>
          <xsd:enumeration value="MYR"/>
          <xsd:enumeration value="MZM"/>
          <xsd:enumeration value="NAD"/>
          <xsd:enumeration value="NGN"/>
          <xsd:enumeration value="NIC"/>
          <xsd:enumeration value="NLG"/>
          <xsd:enumeration value="NOK"/>
          <xsd:enumeration value="NPR"/>
          <xsd:enumeration value="NZD"/>
          <xsd:enumeration value="OMR"/>
          <xsd:enumeration value="PAB"/>
          <xsd:enumeration value="PEN"/>
          <xsd:enumeration value="PGK"/>
          <xsd:enumeration value="PHP"/>
          <xsd:enumeration value="PKR"/>
          <xsd:enumeration value="PLN"/>
          <xsd:enumeration value="PLZ"/>
          <xsd:enumeration value="PTE"/>
          <xsd:enumeration value="PYG"/>
          <xsd:enumeration value="QAR"/>
          <xsd:enumeration value="ROL"/>
          <xsd:enumeration value="RUR"/>
          <xsd:enumeration value="RWF"/>
          <xsd:enumeration value="SAR"/>
          <xsd:enumeration value="SBD"/>
          <xsd:enumeration value="SCR"/>
          <xsd:enumeration value="SDD"/>
          <xsd:enumeration value="SEK"/>
          <xsd:enumeration value="SGD"/>
          <xsd:enumeration value="SHP"/>
          <xsd:enumeration value="SIT"/>
          <xsd:enumeration value="SKK"/>
          <xsd:enumeration value="SLL"/>
          <xsd:enumeration value="SOS"/>
          <xsd:enumeration value="SRG"/>
          <xsd:enumeration value="STD"/>
          <xsd:enumeration value="SVC"/>
          <xsd:enumeration value="SYP"/>
          <xsd:enumeration value="SZL"/>
          <xsd:enumeration value="THB"/>
          <xsd:enumeration value="TJR"/>
          <xsd:enumeration value="TMM"/>
          <xsd:enumeration value="TND"/>
          <xsd:enumeration value="TOP"/>
          <xsd:enumeration value="TPE"/>
          <xsd:enumeration value="TRL"/>
          <xsd:enumeration value="TTD"/>
          <xsd:enumeration value="TWD"/>
          <xsd:enumeration value="TZS"/>
          <xsd:enumeration value="UAK"/>
          <xsd:enumeration value="UGX"/>
          <xsd:enumeration value="USD"/>
          <xsd:enumeration value="UYU"/>
          <xsd:enumeration value="UZS"/>
          <xsd:enumeration value="VEB"/>
          <xsd:enumeration value="VND"/>
          <xsd:enumeration value="VUV"/>
          <xsd:enumeration value="WST"/>
          <xsd:enumeration value="YER"/>
          <xsd:enumeration value="YUN"/>
          <xsd:enumeration value="ZAR"/>
          <xsd:enumeration value="ZMK"/>
          <xsd:enumeration value="ZRN"/>
          <xsd:enumeration value="ZWD"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CurrencyAmount">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PositiveCurrencyAmount">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11"/>
          <xsd:fractionDigits value="2"/>
          <xsd:minInclusive value="0"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/paymentEntities/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/paymentEntities/v1_0">
      <xsd:annotation>
        <xsd:documentation>PaymentEntities Enity and related types for Dow Jones
			Billing Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:complexType name="HistoryItem">
        <xsd:sequence>
          <xsd:element name="itemPoid" type="xsd:string"/>
          <xsd:element name="createTimestamp" type="xsd:dateTime"/>
          <xsd:element name="closeTimestmap" type="xsd:dateTime"/>
          <xsd:element name="amount" type="curr:CurrencyAmount"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemTransferEvent">
        <xsd:sequence>
          <xsd:element name="eventID" type="xsd:string"/>
          <xsd:element name="endDate" type="xsd:dateTime"/>
          <xsd:element name="billID" type="xsd:string"/>
          <xsd:element name="billNumber" type="xsd:string"/>
          <xsd:element name="amount" type="curr:CurrencyAmount"/>
          <xsd:element name="affectedItemCount" type="xsd:int"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/paymentSchedule/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/paymentSchedule/v1_0">
      <xsd:annotation>
        <xsd:documentation>Payment schedule Enity for Dow Jones Billing Functional
			Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:simpleType name="PaymentFrequency">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Days"/>
          <xsd:enumeration value="Weeks"/>
          <xsd:enumeration value="Months"/>
          <xsd:enumeration value="Years"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PaymentScheduleInstallmentStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Paid"/>
          <xsd:enumeration value="Cancelled"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PaymentScheduleStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Active"/>
          <xsd:enumeration value="Complete"/>
          <xsd:enumeration value="Cancelled"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PaymentScheduleInstallment">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="status" type="tns:PaymentScheduleInstallmentStatus"/>
          <xsd:element name="scheduledDate" type="xsd:dateTime"/>
          <xsd:element name="amount" type="curr:CurrencyAmount"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentSchedule">
        <xsd:sequence>
          <xsd:element name="scheduleID" type="xsd:string"/>
          <xsd:element name="billID" type="xsd:string"/>
          <xsd:element name="paymentInstrumentID" type="xsd:string"/>
          <xsd:element name="status" type="tns:PaymentScheduleStatus"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="installmentList" type="tns:PaymentScheduleInstallment"/>
          <xsd:element name="totalAmount" type="curr:CurrencyAmount"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0">
      <xsd:annotation>
        <xsd:documentation>Credit Card</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="CreditCard">
        <xsd:sequence>
          <xsd:element name="cardNumber">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]{4}|[0-9]{14,19}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="expirationMonth">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:pattern value="0[1-9]|1[0-2]|[1-9]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="expirationYear">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="cardType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length fixed="true" value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="securityCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="|[0-9]{3}|[0-9]{4}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0">
      <xsd:annotation>
        <xsd:documentation>Debit Card</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="DebitCard">
        <xsd:sequence>
          <xsd:element name="debitNumber">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="14"/>
                <xsd:maxLength value="19"/>
                <xsd:pattern value="[0-9]+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankNumber">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/types/billMe/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/billing/types/billMe/v1_0">
      <xsd:annotation>
        <xsd:documentation>Bill Me</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="BillMe">
        <xsd:sequence>
          <xsd:element name="deliveryPref" type="tns:BillMeDeliveryPrefType"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="BillMeDeliveryPrefType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Email"/>
          <xsd:enumeration value="Postal"/>
          <xsd:enumeration value="Fax"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/common/types/address/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/common/types/address/v1_0">
      <xsd:annotation>
        <xsd:documentation>Common Mosaic Address Type</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="streetNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetName" type="xsd:string"/>
          <xsd:element maxOccurs="5" minOccurs="0" name="addressLines" type="xsd:string"/>
          <xsd:element minOccurs="0" name="stateProvince" type="xsd:string"/>
          <xsd:element minOccurs="0" name="city" type="xsd:string"/>
          <xsd:element minOccurs="0" name="postalCode" type="xsd:string"/>
          <xsd:element name="country" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:addr="http://omc.dowjones.com/schema/common/types/address/v1_0" xmlns:bm="http://omc.dowjones.com/schema/billing/types/billMe/v1_0" xmlns:cc="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0" xmlns:dc="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0">
      <xsd:annotation>
        <xsd:documentation>PaymentInstrument Enity and related types for Dow Jones
			Billing Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/types/billMe/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/address/v1_0"/>
      <xsd:complexType name="PaymentInstrument">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="paymentInstrumentID" type="xsd:string"/>
          <xsd:element name="accountName" type="xsd:string"/>
          <xsd:element name="paymentBillingInfo" type="addr:Address"/>
          <xsd:element name="payType" type="tns:PaymentInstrumentType"/>
          <xsd:element minOccurs="0" name="creditCardInfo" type="cc:CreditCard"/>
          <xsd:element minOccurs="0" name="debitCardInfo" type="dc:DebitCard"/>
          <xsd:element minOccurs="0" name="invoiceInfo" type="bm:BillMe"/>
          <xsd:element name="setDefault" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="nickname" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PaymentInstrumentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Credit"/>
          <xsd:enumeration value="Invoice"/>
          <xsd:enumeration value="Debit"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/receivable/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:pi="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/receivable/v2_0">
      <xsd:annotation>
        <xsd:documentation>Receivable Enity and related types for Dow Jones
			Billing Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:simpleType name="ReceivableItemType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Null"/>
          <xsd:enumeration value="Payment"/>
          <xsd:enumeration value="Refund"/>
          <xsd:enumeration value="Adjustment"/>
          <xsd:enumeration value="Settlement"/>
          <xsd:enumeration value="Dispute"/>
          <xsd:enumeration value="WriteOff"/>
          <xsd:enumeration value="PaymentReversal"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ReceivableItemStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Null"/>
          <xsd:enumeration value="Open"/>
          <xsd:enumeration value="Closed"/>
          <xsd:enumeration value="Reversed"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ClearinghouseStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PaymentAuth"/>
          <xsd:enumeration value="PaymentDeposit"/>
          <xsd:enumeration value="PaymentFailure"/>
          <xsd:enumeration value="RefundPending"/>
          <xsd:enumeration value="RefundCleared"/>
          <xsd:enumeration value="RefundFailure"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ServiceInfo">
        <xsd:sequence>
          <xsd:element name="receivableItemID" type="xsd:string"/>
          <xsd:element name="billID" type="xsd:string"/>
          <xsd:element name="billItemID" type="xsd:string"/>
          <xsd:element name="allocatedAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="allocatedDate" type="xsd:dateTime"/>
          <xsd:element name="isReversal" type="xsd:boolean"/>
          <xsd:element name="termID" type="xsd:string"/>
          <xsd:element name="referenceNumber" type="xsd:string"/>
          <xsd:element name="subscriptionID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReceivableItem">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element name="itemID" type="xsd:string"/>
          <xsd:element name="itemNumber" type="xsd:string"/>
          <xsd:element name="itemName" type="xsd:string"/>
          <xsd:element name="itemType" type="tns:ReceivableItemType"/>
          <xsd:element name="itemStatus" type="tns:ReceivableItemStatusType"/>
          <xsd:element minOccurs="0" name="clearinghouseStatus" type="tns:ClearinghouseStatusType"/>
          <xsd:element minOccurs="0" name="clearinghouseStatusDescription" type="xsd:string"/>
          <xsd:element minOccurs="0" name="clearinghouseStatusDate" type="xsd:dateTime"/>
          <xsd:element name="totalAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="dueAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="createdDate" type="xsd:dateTime"/>
          <xsd:element name="effectiveDate" type="xsd:dateTime"/>
          <xsd:element name="modifiedDate" type="xsd:dateTime"/>
          <xsd:element name="reversedPaymentItemID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="paymentInstrument" type="pi:PaymentInstrument"/>
          <xsd:element minOccurs="0" name="paymentEventID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="transactionID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="chargebackReferenceNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="chargebackEffectiveDate" type="xsd:dateTime"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="serviceInfo" type="tns:ServiceInfo"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/common/types/salutation/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omc.dowjones.com/schema/common/types/salutation/v1_0">
      <xsd:annotation>
        <xsd:documentation>Common Mosaic Salutaion Type</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="Salutation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Mr."/>
          <xsd:enumeration value="Mrs."/>
          <xsd:enumeration value="Ms."/>
          <xsd:enumeration value="Dr."/>
          <xsd:enumeration value="Null"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/common/types/contact/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:addr="http://omc.dowjones.com/schema/common/types/address/v1_0" xmlns:sal="http://omc.dowjones.com/schema/common/types/salutation/v1_0" xmlns:tns="http://omc.dowjones.com/schema/common/types/contact/v1_0">
      <xsd:annotation>
        <xsd:documentation>Common Mosaic Contact Type</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/address/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/salutation/v1_0"/>
      <xsd:complexType name="Contact">
        <xsd:sequence>
          <xsd:element name="salutation" type="sal:Salutation"/>
          <xsd:element name="lastName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="title" type="xsd:string"/>
          <xsd:element minOccurs="0" name="company" type="xsd:string"/>
          <xsd:element name="address" type="addr:Address"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/account/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cnt="http://omc.dowjones.com/schema/common/types/contact/v1_0" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/account/v2_0">
      <xsd:annotation>
        <xsd:documentation>Account Enity and related types for Dow Jones Billing
			Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/contact/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:simpleType name="TaxResidentialFlag">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Residential"/>
          <xsd:enumeration value="Business"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TaxIncorporatedFlag">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Incorporated"/>
          <xsd:enumeration value="Unincorporated"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AccountStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Active"/>
          <xsd:enumeration value="Inactive"/>
          <xsd:enumeration value="Closed"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Account">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element name="accountNumber" type="xsd:string"/>
          <xsd:element name="defaultBillingContact" type="cnt:Contact"/>
          <xsd:element name="currency" type="curr:CurrencyType"/>
          <xsd:element name="status" type="tns:AccountStatus"/>
          <xsd:element name="statusReason" type="xsd:string"/>
          <xsd:element name="defaultPaymentInstrumentID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountBalanceSummary">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element name="openBillDue" type="curr:CurrencyAmount"/>
          <xsd:element name="unappliedAmt" type="curr:CurrencyAmount"/>
          <xsd:element name="pendingBillDue" type="curr:CurrencyAmount"/>
          <xsd:element name="disputedAmt" type="curr:CurrencyAmount"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/receipt/v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cc="http://omc.dowjones.com/schema/billing/types/creditCard/v2_0" xmlns:cnt="http://omc.dowjones.com/schema/common/types/contact/v1_0" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:dc="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0" xmlns:pi="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/receipt/v2_0">
      <xsd:annotation>
        <xsd:documentation>Receipt Enity and related types for Dow Jones Billing
			Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/types/debitCard/v2_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/contact/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:import namespace="http://omc.dowjones.com/schema/billing/entities/paymentInstrument/v2_0"/>
      <xsd:complexType name="BalanceImpact">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element name="productPurchased" type="xsd:string"/>
          <xsd:element name="quantity" type="xsd:int"/>
          <xsd:element name="feeAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="taxAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="discount" type="curr:CurrencyAmount"/>
          <xsd:element minOccurs="0" name="surchargeAmount" type="curr:CurrencyAmount"/>
          <xsd:element minOccurs="0" name="discountDescription" type="xsd:string"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Receipt">
        <xsd:sequence>
          <xsd:element name="accountID" type="xsd:string"/>
          <xsd:element name="transactionID" type="xsd:string"/>
          <xsd:element name="transactionDate" type="xsd:dateTime"/>
          <xsd:element name="paymentInstrument" type="pi:PaymentInstrument"/>
          <xsd:element name="totalAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="totalFee" type="curr:CurrencyAmount"/>
          <xsd:element name="totalTax" type="curr:CurrencyAmount"/>
          <xsd:element name="totalDiscount" type="curr:CurrencyAmount"/>
          <xsd:element name="totalSurchargeAmount" type="curr:CurrencyAmount"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanceImpacts" type="tns:BalanceImpact"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://omc.dowjones.com/schema/billing/entities/chargeback/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:curr="http://omc.dowjones.com/schema/common/types/currency/v1_0" xmlns:tns="http://omc.dowjones.com/schema/billing/entities/chargeback/v1_0">
      <xsd:annotation>
        <xsd:documentation>Chargeback Enity and related types for Dow Jones
			Billing Functional Domain</xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://omc.dowjones.com/schema/common/types/currency/v1_0"/>
      <xsd:complexType name="ChargebackRequest">
        <xsd:sequence>
          <xsd:element name="paymentItemID" type="xsd:string"/>
          <xsd:element name="chargebackDate" type="xsd:dateTime"/>
          <xsd:element name="referenceNumber" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChargebackItem">
        <xsd:sequence>
          <xsd:element name="paymentItemID" type="xsd:string"/>
          <xsd:element name="paymentAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="chargebackAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="settledItems" type="tns:SettledItem"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SettledItem">
        <xsd:sequence>
          <xsd:element name="billItemID" type="xsd:string"/>
          <xsd:element name="subscriptionID" type="xsd:string"/>
          <xsd:element name="termID" type="xsd:string"/>
          <xsd:element name="referenceNumber" type="xsd:string"/>
          <xsd:element name="allocatedAmount" type="curr:CurrencyAmount"/>
          <xsd:element name="totalAmount" type="curr:CurrencyAmount"/>
          <xsd:element minOccurs="0" name="currency" type="curr:CurrencyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CollectPaymentRequest">
    <wsdl:part element="tns:CollectPaymentRequest" name="CollectPaymentRequest"/>
  </wsdl:message>
  <wsdl:message name="CancelPaymentScheduleRequest">
    <wsdl:part element="tns:CancelPaymentScheduleRequest" name="CancelPaymentScheduleRequest"/>
  </wsdl:message>
  <wsdl:message name="ReprocessRefundResponse">
    <wsdl:part element="tns:ReprocessRefundResponse" name="ReprocessRefundResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessFullChargebacksRequest">
    <wsdl:part element="tns:ProcessFullChargebacksRequest" name="ProcessFullChargebacksRequest"/>
  </wsdl:message>
  <wsdl:message name="CreatePaymentScheduleResponse">
    <wsdl:part element="tns:CreatePaymentScheduleResponse" name="CreatePaymentScheduleResponse"/>
  </wsdl:message>
  <wsdl:message name="CollectPaymentResponse">
    <wsdl:part element="tns:CollectPaymentResponse" name="CollectPaymentResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateCreditRequest">
    <wsdl:part element="tns:CreateCreditRequest" name="CreateCreditRequest"/>
  </wsdl:message>
  <wsdl:message name="IssueRefundRequest">
    <wsdl:part element="tns:IssueRefundRequest" name="IssueRefundRequest"/>
  </wsdl:message>
  <wsdl:message name="ListReceivableHistoryRequest">
    <wsdl:part element="tns:ListReceivableHistoryRequest" name="ListReceivableHistoryRequest"/>
  </wsdl:message>
  <wsdl:message name="CancelPaymentScheduleResponse">
    <wsdl:part element="tns:CancelPaymentScheduleResponse" name="CancelPaymentScheduleResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessFullChargebacksResponse">
    <wsdl:part element="tns:ProcessFullChargebacksResponse" name="ProcessFullChargebacksResponse"/>
  </wsdl:message>
  <wsdl:message name="ListReceivableHistoryResponse">
    <wsdl:part element="tns:ListReceivableHistoryResponse" name="ListReceivableHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPaymentSchedulesResponse">
    <wsdl:part element="tns:GetPaymentSchedulesResponse" name="GetPaymentSchedulesResponse"/>
  </wsdl:message>
  <wsdl:message name="GenerateReceiptRequest">
    <wsdl:part element="tns:GenerateReceiptRequest" name="GenerateReceiptRequest"/>
  </wsdl:message>
  <wsdl:message name="ReprocessRefundRequest">
    <wsdl:part element="tns:ReprocessRefundRequest" name="ReprocessRefundRequest"/>
  </wsdl:message>
  <wsdl:message name="CreatePaymentScheduleRequest">
    <wsdl:part element="tns:CreatePaymentScheduleRequest" name="CreatePaymentScheduleRequest"/>
  </wsdl:message>
  <wsdl:message name="IssueRefundResponse">
    <wsdl:part element="tns:IssueRefundResponse" name="IssueRefundResponse"/>
  </wsdl:message>
  <wsdl:message name="GenerateReceiptResponse">
    <wsdl:part element="tns:GenerateReceiptResponse" name="GenerateReceiptResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPaymentSchedulesRequest">
    <wsdl:part element="tns:GetPaymentSchedulesRequest" name="GetPaymentSchedulesRequest"/>
  </wsdl:message>
  <wsdl:message name="CreateCreditResponse">
    <wsdl:part element="tns:CreateCreditResponse" name="CreateCreditResponse"/>
  </wsdl:message>
  <wsdl:portType name="paymentService">
    <wsdl:operation name="ProcessFullChargebacks">
      <wsdl:input message="tns:ProcessFullChargebacksRequest" name="ProcessFullChargebacksRequest"/>
      <wsdl:output message="tns:ProcessFullChargebacksResponse" name="ProcessFullChargebacksResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ReprocessRefund">
      <wsdl:input message="tns:ReprocessRefundRequest" name="ReprocessRefundRequest"/>
      <wsdl:output message="tns:ReprocessRefundResponse" name="ReprocessRefundResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CancelPaymentSchedule">
      <wsdl:input message="tns:CancelPaymentScheduleRequest" name="CancelPaymentScheduleRequest"/>
      <wsdl:output message="tns:CancelPaymentScheduleResponse" name="CancelPaymentScheduleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CollectPayment">
      <wsdl:input message="tns:CollectPaymentRequest" name="CollectPaymentRequest"/>
      <wsdl:output message="tns:CollectPaymentResponse" name="CollectPaymentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentSchedule">
      <wsdl:input message="tns:CreatePaymentScheduleRequest" name="CreatePaymentScheduleRequest"/>
      <wsdl:output message="tns:CreatePaymentScheduleResponse" name="CreatePaymentScheduleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="IssueRefund">
      <wsdl:input message="tns:IssueRefundRequest" name="IssueRefundRequest"/>
      <wsdl:output message="tns:IssueRefundResponse" name="IssueRefundResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateReceipt">
      <wsdl:input message="tns:GenerateReceiptRequest" name="GenerateReceiptRequest"/>
      <wsdl:output message="tns:GenerateReceiptResponse" name="GenerateReceiptResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ListReceivableHistory">
      <wsdl:input message="tns:ListReceivableHistoryRequest" name="ListReceivableHistoryRequest"/>
      <wsdl:output message="tns:ListReceivableHistoryResponse" name="ListReceivableHistoryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateCredit">
      <wsdl:input message="tns:CreateCreditRequest" name="CreateCreditRequest"/>
      <wsdl:output message="tns:CreateCreditResponse" name="CreateCreditResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSchedules">
      <wsdl:input message="tns:GetPaymentSchedulesRequest" name="GetPaymentSchedulesRequest"/>
      <wsdl:output message="tns:GetPaymentSchedulesResponse" name="GetPaymentSchedulesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="paymentServiceSoap11" type="tns:paymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessFullChargebacks">
      <soap:operation soapAction=""/>
      <wsdl:input name="ProcessFullChargebacksRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProcessFullChargebacksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprocessRefund">
      <soap:operation soapAction=""/>
      <wsdl:input name="ReprocessRefundRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ReprocessRefundResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPaymentSchedule">
      <soap:operation soapAction=""/>
      <wsdl:input name="CancelPaymentScheduleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CancelPaymentScheduleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectPayment">
      <soap:operation soapAction=""/>
      <wsdl:input name="CollectPaymentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CollectPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentSchedule">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreatePaymentScheduleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreatePaymentScheduleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueRefund">
      <soap:operation soapAction=""/>
      <wsdl:input name="IssueRefundRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="IssueRefundResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateReceipt">
      <soap:operation soapAction=""/>
      <wsdl:input name="GenerateReceiptRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GenerateReceiptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListReceivableHistory">
      <soap:operation soapAction=""/>
      <wsdl:input name="ListReceivableHistoryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ListReceivableHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCredit">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateCreditRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateCreditResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSchedules">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPaymentSchedulesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPaymentSchedulesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="paymentServiceService">
    <wsdl:port binding="tns:paymentServiceSoap11" name="paymentServiceSoap11">
      <soap:address location="https://sbkcomwad01.wsjdev.dowjones.net:8543/billing/ws/payment-ws/v2/soap/service/paymentService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>